<h1>All my cars!!</h1>

<div class="search-form" id="search-form">
  <%= form_tag({controller: :cars, action: :index}, method: :get) do %>

    <div class="form-component">
      <%= label_tag(:make, 'Make') %>
      <%= select_tag(
        :make, 
        options_from_collection_for_select(Make.all, :id, :make), 
        include_blank: true
      ) %>
    </div>

    <div class="form-component">
      <%= label_tag(:model, 'Model') %>
      <%= select_tag(
        :model,
        options_from_collection_for_select(Model.all, :id, :model),
        include_blank: true
      ) %>
    </div>

    <div class="form-component">
      <%= submit_tag('Search!') %>
    </div>

  <% end %>
</div>

<% @cars.each do |car| %>
  <div style="border: 1px solid black;">
    <h2>Make: <%= car.make.make %></h2>
    <h2>Model: <%= car.model.model %></h2>
  </div>
<% end %>
